[Unit]
Description=Yamaha RX-Z1 Serial Controller API & Web UI
After=network.target

[Service]
Type=simple
User=jeffl
# When using system config, the service can find /etc/yamaha-serial/config.env automatically
ExecStart=/usr/local/bin/yamaha-serial-armv6
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
